// adaptive section__img
.section__img-wrap {
    position: relative;
    padding: 0 0 90% 0;
}

.section__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    @media (max-width:767px) {
        height: 90%;
    }
}