%title-font {
    font-family: Larsseit_regular;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.5em;
}

%text-font {
    font-family: Larsseit_regular, sans-serif;
    font-size: 1.5rem;
}